<div class="comment-tag">Comments</div>
<div class="comments-box">
  <div class="comment">
    <p>
      <span class="comment-user-name">Bobby Tables </span>19/07/2016 19:30
    </p>
    <p class="comment-body">
      Ne ius zril vocibus, eu unum possim doctus sit, mucius persius adolescens vix cu. Albucius persecuti sea an, vix mundi invidunt ut. No mel sint utroque inimicus. Elitr oportere has id.
    </p>
  </div>
  <div class="comment">
    <p>
      <span class="comment-user-name">Ironhack School </span>19/07/2016 20:35
    </p>
    <p class="comment-body">
      Id eruditi vivendum vix, eu qui graeci torquatos. His ea solet ponderum accommodare, summo possim ancillae ei eos. Eum purto invidunt probatus cu. Eam indoctum explicari et. Quo elitr iracundia posidonium et. Ei delenit epicuri contentiones usu, te melius disputationi has.
    </p>
  </div>
</div>
<div class="add-comment-container">
  <p class="comment-add-label">Add your comment</p>
  <div class="comment-input">
    <label for="name-user">Name:</label>
    <input type="text" name="name-user">
  </div>
  <div class="comment-input">
    <label for="comment">Description:</label>
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
  </div>
  <div>
    <button class="comment-button">Comment</button>
  </div>

</div>
