<section class="photo-album">
  <div class="photo-frame">
    <img class="photo" alt="Ironhack Mexico" src="https://secure.meetupstatic.com/photos/event/c/5/4/1/highres_468050497.jpeg">
    <p>Ironhack Mexico</p>
  </div>
  <div class="photo-frame">
    <img class="photo" alt="Ironhack Sao Paulo" src="https://www.ironhack.com/assets/campus-image/sao-paulo.jpg">
    <p>Ironhack Mexico</p>
  </div>
  <div class="photo-frame">
    <img class="photo" alt="Ironhack Paris" src="https://miro.medium.com/max/12000/1*ub3pCgHW6frdMy0hReuk-A.jpeg">
    <p>Ironhack Paris</p>
  </div>
</section>

